:root {
    --color-fondo: #000FFF;
}

.cabecera{
    background-color: #FFFFFF;
    text-align: center;
    display: inline-block;
    width: 100%;

}


.logo{
    margin: 20px;
    width: 80px;
    display: inline-block;

}

.menu-principal{
    display: inline-block;
    width: 80%;
    text-align: right;
    vertical-align: top;
    margin-top: 30px;
}

.menu-principal li{
    display: inline;
    padding: 10px;
}

.menu-principal li a{
    text-decoration: none;
    color: #000000;
    font-size: 1.5em;
    padding: 10px;
}

.menu-principal li a:hover{
    background-color: #310066;
    color: #ffffff;
    padding: 10px;
}

.menu-principal li a:active{
    background-color: #310066;
    color: #ffffff;
    padding: 10px;
}

.home{
    text-align: center;
    padding: 20px;
    display: inline-block;
    background-image: url(/ciudad1.jpg);
    background-position: center;
}

.quien-soy{
    text-align: center;
    width: 50%;
    border: 2px solid #000000;
    margin: 0;
    box-shadow: 1px 1px 15px #310066;
}

.quien-soy img{
    width: 200px;
    border-radius: 50%;
}

.formulario-home{
    text-align: left;
    padding: 100px;
}

.formulario-home h2{
    text-align: center;
    font-size: 2em;
}

.formulario input{
    width: 80%;
    border-color: #000000;
    font-size: 1.2em;
    height: 40px;

}
.formulario p{
    text-align: left;
    font-size: 1.2em;
}
.formulario button{
    font-size: 1.2em;
    background-color: #310066;
    color: #FFFFFF;
    border: none;
    box-shadow: 1px 1px 5px #000000;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    margin-top: 30px;
}

@media only screen and (max-width: 768px){
    .cabecera{
        width: 90%;
    }
}


